<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://static.gnome.org/css/inter.css" />
  <link rel="stylesheet" href="style.css" />
  <title>{{ site.title }}</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
</head>
<body>
  <div class="hero" style="min-height: 0;">
    <section class="header">
      <h2 id="logo">{{ site.title }}</h2>
      <ul class="nav">
        <li><a href="https://www.gnome.org/about.html">About Us</a></li>
        <li><a href="https://handbook.gnome.org">Get Involved</a></li>
        <!--<li><a href="https://shop.gnome.org/">Shop</a></li>-->
        <li><a href="https://www.gnome.org/donate.html" class="btn" id="nav-donate">Donate</a></li>
      </ul>
    </section>
  </div>

  <div class="container">

    {% for post in posts %}
      <article class="post">
        <div class="author-box">
          <picture><img src="{{ post.photo }}"/></picture>
          <p><a href="{{ post.blogurl }}">{{ post.author }}</a></p>
          <p>@{{ post.username }}</p>
        </div>
        <div class="post-content">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

          <div class="post-content">
            {{ post.text }}
          </div>
        </div>
      </article>
    {% endfor %}

  </div>

  <footer>
    <nav>
      <ul class="bottomlinks">
        <li><a href="https://handbook.gnome.org/get-in-touch.html">Contact Us</a></li>
        <li><a href="https://www.gnome.org/about.html">About Us</a></li>
        <li><a href="https://www.gnome.org/donate.html">Donate</a></li>
        <li><a href="https://shop.gnome.org/">GNOME Shop</a></li>
        <li><a href="https://foundation.gnome.org/">GNOME Foundation</a></li>
        <li><a href="https://conduct.gnome.org">Code of Conduct</a></li>
        <li><a href="https://www.gnome.org/privacy-policy.html">Privacy</a></li>
        <li><a href="https://welcome.gnome.org/">Welcome to GNOME</a></li>
        <li><a href="https://handbook.gnome.org/">GNOME Handbook</a></li>
        <li><a href="https://gitlab.gnome.org/">Issue Tracker</a></li>
        <li><a href="https://developer.gnome.org/">Developer Center</a></li>
        <li><a href="http://release.gnome.org/">Latest Releases</a></li>
        <li><a href="https://thisweek.gnome.org/">This Week in GNOME</a></li>
        <li><a href="https://handbook.gnome.org/events.html">Events</a></li>
        <li><a href="https://discourse.gnome.org/">Forum</a></li>
        <li><a href="https://planet.gnome.org/">Planet GNOME</a></li>
        <li><a href="https://brand.gnome.org/">Logo &amp; Brand</a></li>
        <li>          <span class="socials">
        <a href="https://floss.social/@gnome" class="social" rel="me"><svg viewBox="0 0 16 16" id="mastodon" xmlns="http://www.w3.org/2000/svg"><path d="M7.478 0C5.56.016 3.716.223 2.64.717c0 0-2.132.954-2.132 4.208 0 .745-.015 1.636.009 2.58.077 3.183.583 6.319 3.525 7.098 1.357.359 2.522.434 3.46.382 1.7-.094 2.656-.607 2.656-.607l-.057-1.234s-1.215.383-2.58.337c-1.353-.047-2.781-.146-3-1.807a3.406 3.406 0 0 1-.03-.466s1.328.325 3.01.402c1.03.047 1.994-.06 2.974-.177 1.88-.225 3.516-1.383 3.722-2.44.324-1.668.297-4.068.297-4.068 0-3.254-2.132-4.208-2.132-4.208C11.288.223 9.443.016 7.525 0Zm-2.17 2.542c.798 0 1.403.308 1.803.922l.389.651.389-.651c.4-.614 1.005-.922 1.803-.922.69 0 1.247.243 1.672.717.412.473.617 1.113.617 1.918v3.94H10.42V5.293c0-.806-.34-1.215-1.018-1.215-.75 0-1.126.485-1.126 1.445v2.093H6.724V5.523c0-.96-.376-1.445-1.126-1.445-.678 0-1.018.409-1.018 1.215v3.824H3.02v-3.94c0-.805.204-1.445.616-1.918.425-.474.981-.717 1.672-.717Z"></path></svg>
</a>
        <a href="https://www.youtube.com/user/GNOMEDesktop" class="social"><svg version="1.1" viewBox="0 0 59.999998 60" xml:space="preserve">
<path d="m 30.000873,8.994939 c 0,0 -18.780858,8.79e-5 -23.4758621,1.235673 C 4.0044287,10.922546 1.9279732,12.9988 1.2360734,15.568785 4.840194e-4,20.264042 4e-4,29.999958 4e-4,29.999958 c 0,0 8.78843e-5,9.78658 1.2356734,14.432854 0.6919334,2.569985 2.7189519,4.595357 5.2889375,5.287341 4.7446601,1.284992 23.4758621,1.284908 23.4758621,1.284908 0,0 18.780857,-8.8e-5 23.475862,-1.235673 2.569985,-0.691933 4.595357,-2.717272 5.287341,-5.287341 1.235589,-4.695256 1.235673,-14.432853 1.235673,-14.432853 0,0 0.04934,-9.7849 -1.235673,-14.479905 C 58.072142,12.999304 56.046804,10.972252 53.476735,10.280352 48.781478,8.9953591 30.000873,8.9954431 30.000873,8.9954431 Z m -5.981426,12.010574 15.619208,8.994277 -15.619208,8.995958 z"></path>
</svg>
</a>
        <a href="https://matrix.to/#/#community:gnome.org" class="social"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Matrix</title><path d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033c.309-.443.683-.784 1.117-1.024.433-.245.936-.365 1.5-.365.54 0 1.033.107 1.481.314.448.208.785.582 1.02 1.108.254-.374.6-.706 1.034-.992.434-.287.95-.43 1.546-.43.453 0 .872.056 1.26.167.388.11.716.286.993.53.276.245.489.559.646.951.152.392.23.863.23 1.417v5.728h-2.349V11.52c0-.286-.01-.559-.032-.812a1.755 1.755 0 0 0-.18-.66 1.106 1.106 0 0 0-.438-.448c-.194-.11-.457-.166-.785-.166-.332 0-.6.064-.803.189a1.38 1.38 0 0 0-.48.499 1.946 1.946 0 0 0-.231.696 5.56 5.56 0 0 0-.06.785v4.768h-2.35v-4.8c0-.254-.004-.503-.018-.752a2.074 2.074 0 0 0-.143-.688 1.052 1.052 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19-.111 0-.259.024-.439.074-.18.051-.36.143-.53.282-.171.138-.319.337-.439.595-.12.259-.18.6-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z"></path></svg></a>

      </span></li>
      </ul>
    </nav>
    <a href="https://gnome.org">&copy; 2025 The GNOME Project</a>
  </footer>
</body>
</html>
